<div class="card-body">
  <h5 class="card-title">
    <span class="lead">
      {{ reponame }}
    </span>
    <div class="quickStats">
      <span class="badge badge-light">
        <span class="starCount" *ngIf="repo.stargazerCount">
          {{ repo.stargazerCount }}
        </span>
      </span>
      <span class="badge badge-light">
        <span class="watcherCount" *ngIf="repo.watchers.totalCount">
          {{ repo.watchers.totalCount }}
        </span>
      </span>
    </div>
  </h5>
  <p class="card-text" *ngIf="showChart">
    <i>Views </i>
    <b>{{ totalViews }} </b>
    <i>Unique visitors </i>
    <b>{{ totalUniques }}</b>
  </p>
</div>
<div class="flex" class="card-img-bottom">
  <div class="flex-item">
    <div style="display: block;">
      <canvas baseChart width="400" height="200"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                *ngIf="showChart"
      >
      </canvas>
    </div>
  </div>
</div>
